ion-toolbar {
    --background-color:#424667;
    --background:#424667;
    color:beige;
    --ion-background-color: var( --ion-color-fth);
  }
  ion-icon {
    font-size: 25px; //Preferred size here
}
ion-button{
    color:beige;
    background:#424667;  
}